<!DOCTYPE html>
<html>
    <head>
        <title>Form Automation| Add Student</title>
    </head>
    <body>

        <h1>Student Data Entry Form</h1>
        <button>
            <a href="#">Bulk Upload</a>
            </button>
        <table>
            <tr>
                <td>Student ID:</td>
                <td><input type="text" name="stu_id"></td>
            </tr>
            <tr>
                <td>Student Name:</td>
                <td><input type="text" type="stu_name"></td>
            </tr>
            <tr>
                <td>Student City:</td>
                <td><input type="text" type="stu_city"></td>
            </tr>
            <tr>
                <td>Student Fee:</td>
                <td><input type="text" type="stu_fee"></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </body>
</html>